/* Hide the template selection from Attribute panel option */
.components-base-control.editor-page-attributes__template
{
    display: none;
}

/* Hide the password visibility post option */
[id^="editor-post-password-"], label[for^="editor-post-password-"], input[id^="editor-post-password-"] {
    display: none;
}

/* Hide the alignment button over the image gallery */
button.components-button[aria-label="Change alignment"] {
    display: none;
}

/* Add Border limit to block */
.block-editor-block-list__layout .wp-block {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #C1C1C1;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: #C1C1C1;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #C1C1C1;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #C1C1C1;
}
